body{
  background-color:#f5f5dc;
  text-align:left;
  }
  
  h1{
    color: white;
    background-color:#800020;
    border: 7px solid #800020;
    padding: 10px;
    background-clip: border-box;
    box-shadow: inset 0px 0px 0px 2px white;
    border-style: outset;
    text-align:center;
    font-weight: bold;
    }
  
  h2{
    color:grey;
    font-style: italic;
    text-align:center;
  }
  
  p{
    text-align:center;
    color: #8000020;
  }
